.testimonial-card{
    max-width: 100%;
}
.testimonial-img{
    width: 80px;
}
.testimonial-icon{
    color: #FEBD00;
}
.testimonial-desc{
    color: gray;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
}
.testimonial-name{
    border-left: 3px solid #E4573D;
}
.testimonial-name > p{
    color: #E4573D;
}